@font-face {
  font-family: 'PP Fragment Glare Regular';
  font-style: normal;
  font-weight: normal;
  src: local('PP Fragment Glare Regular'), url('./fonts/pp-fragment-webfont/PPFragment-GlareRegular.woff') format('woff');
}


@font-face {
  font-family: 'PP Fragment Sans Regular';
  font-style: normal;
  font-weight: normal;
  src: local('PP Fragment Sans Regular'), url('./fonts/pp-fragment-webfont/PPFragment-SansRegular.woff') format('woff');
}


@font-face {
  font-family: 'PP Fragment Serif Regular';
  font-style: normal;
  font-weight: normal;
  src: local('PP Fragment Serif Regular'), url('./fonts/pp-fragment-webfont/PPFragment-SerifRegular.woff') format('woff');
}


@font-face {
  font-family: 'PP Fragment Text Regular';
  font-style: normal;
  font-weight: normal;
  src: local('PP Fragment Text Regular'), url('./fonts/pp-fragment-webfont/PPFragment-TextRegular.woff') format('woff');
}


@font-face {
  font-family: 'PP Fragment Glare Light';
  font-style: normal;
  font-weight: normal;
  src: local('PP Fragment Glare Light'), url('./fonts/pp-fragment-webfont/PPFragment-GlareLight.woff') format('woff');
}


@font-face {
  font-family: 'PP Fragment Sans Light';
  font-style: normal;
  font-weight: normal;
  src: local('PP Fragment Sans Light'), url('./fonts/pp-fragment-webfont/PPFragment-SansLight.woff') format('woff');
}


@font-face {
  font-family: 'PP Fragment Serif Light';
  font-style: normal;
  font-weight: normal;
  src: local('PP Fragment Serif Light'), url('./fonts/pp-fragment-webfont/PPFragment-SerifLight.woff') format('woff');
}


/* Определение переменных для светлой темы */
:root {
  --background-color: black;
  --text-color: white;
  --link-color: #ffffff;
  --modal-overlay-bg: rgba(0, 0, 0, 0.7);
  --contact-color: white;
  --contact-underline-bg: white;
  --button-bg: #007bff;
  --button-color: white;
  --font-family: 'PP Fragment Serif Light';
}

/* Определение переменных для темной темы */
.dark-theme {
  --background-color: black;
  --text-color: white;
  --link-color: #ffffff;
  --modal-overlay-bg: rgba(0, 0, 0, 0.7);
  --contact-color: white;
  --contact-underline-bg: white;
  --button-bg: #007bff;
  --button-color: white;
}

/* Определение переменных для светлой темы */
.light-theme {
  --background-color: white;
  --text-color: #000000;
  --link-color: #000000;
  --modal-overlay-bg: rgba(255, 255, 255, 0.7);
  --contact-color: black;
  --contact-underline-bg: black;
  --button-bg: #007bff;
  --button-color: black;
}

/* Основные стили приложения */
.App {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 1s ease, color 1s ease;
  height: 100%;
  position: relative;
}


/* Стили для контейнера */
.container {
  cursor: n-resize;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: filter 0.3s ease;
}

/* Стили для ссылок */
a {
  color: var(--link-color) !important;
  text-decoration: none;
}

/* Стили для кнопки контактов */
.theme-button-light {
  background-color: #ffffff;
  /* Белый цвет */
  border: 1px solid var(--text-color);
  /* Черный бордер */
  box-sizing: border-box;
}


.theme-button-dark {
  background-color: #000000;
  /* Черный цвет */
  border: 1px solid var(--text-color);
  /* Белый бордер */

  box-sizing: border-box;
}

.theme-button {
  width: 7px;
  height: 7px;
  display: inline-block;
  cursor: pointer;
  transform: rotate(45deg);
  margin: 0 10px;
}

.theme-button-container {
  z-index: 3;
  position: fixed;
  top: 27px;
  right: 23px;
}

.theme-button:hover {
  opacity: 0.8;
}

/* Стили для контента */
.content {
  letter-spacing: 0.3vmin;
  font-family: var(--font-family);
  color: var(--text-color);
  text-align: center;
}

/* Стили для имени */
.name {
  font-size: calc(10px + 2vmin);
  margin: 10px;
  transform: scale(1, 0.85);
}

/* Стили для контакта */
.contact {
  letter-spacing: 2px;
  cursor: pointer;
  font-family: var(--font-family);
  color: var(--contact-color);
  font-size: calc(1px + 1.2vmin);
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 3;
  padding-bottom: 1px;
  display: inline-block;
  transform: scale(1, 0.9);
}

.contact::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--contact-underline-bg);
  transition: width 0.6s ease;
}

.contact:hover::after {
  width: 100%;
}

/* Стили для роли */
.role {
  font-size: calc(1px + 1vmin);
  margin: 0;
}

/* Стили для бокового текста */
.side-text {
  z-index: 3;
  font-family: var(--font-family);
  color: var(--text-color);
  position: fixed;
  left: 30px;
  bottom: 165px;
  transform: rotate(90deg)scale(1, 0.85);
  transform-origin: left bottom;
  white-space: nowrap;

}

.side-text p {
  letter-spacing: 2px;
  font-family: var(--font-family);
  font-size: calc(1px + 1.3vmin);
  margin: 0;
}

/* Стили для модального окна */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-overlay-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transform: scale(1);
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.modal-overlay.visible {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.modal-overlay.hidden {
  opacity: 0;
  visibility: hidden;
  transform: scale(1.05);
}

.modal-content {
  font-family: var(--font-family);
  letter-spacing: 3px;
  color: var(--text-color);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  line-height: 22px;
  font-size: calc(2px + 1.2vmin);
  transform: scale(1, 0.9);
}

.modal-content button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background-color: var(--button-bg);
  color: var(--button-color);
  border-radius: 5px;
  cursor: pointer;
}

.undername {
  font-size: calc(1px + 2vmin);
  line-height: 0.1;
}



@keyframes fadeInOutUp {
  0% {
    opacity: 0;
    transform: translateY(0);
  }



  50% {
    opacity: 1;

  }


  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes slideOutUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.scroll-btn {
  letter-spacing: 2px;
  font-family: var(--font-family);
  font-size: 12px;
  position: absolute;
  bottom: 25px;
  color: var(--text-color);
  opacity: 0;
  animation: fadeInOutUp 1.2s ease-in-out infinite;
  transform: scale(1, 0.85);
}

.scroll-btn.visible {
  animation: slideInUp 0.5s forwards;
}

.scroll-btn.hidden {
  animation: slideOutUp 0.5s forwards;
}


.video-page-container {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  letter-spacing: 2px;
  font-family: var(--font-family);
  color: var(--text-color);
  font-size: calc(1px + 1.2vmin);
  line-height: 25px;
  padding-top: 25px;
}



.video-section {
  margin-left: 15%;
  margin-top: 25px;
}

.video-type-title {
  transform: scale(1, 0.9);
}

.video-link {
  transform: scale(1, 0.9);
  cursor: pointer;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  /* Ensure the video is behind other content */
}

.video-section {
  position: relative;
  z-index: 1;
  /* Ensure the video-section content is above the video */
}