.App {
  background-color: black;
}

@font-face {
  font-family: "NeueHaas";
  src: url(./fonts/NeueHaasDisplayThin.ttf);
}


/* MyComponent.css */
.container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: filter 0.3s ease;
}

a {
  color: #ffffff !important;
  text-decoration: none
}

.contact-button {
  position: absolute;
  top: 20px;
  left: 25px;
}

.content {
  font-family: "NeueHaas";
  color: white;
  text-align: center;
}

.name {

  font-size: calc(15px + 2vmin);
  margin: 0;
}

.contact {
  cursor: pointer;
  font-family: "NeueHaas";
  color: white;
  font-size: calc(1px + 1.5vmin);
  position: absolute;
  top: 10px;
  left: 25px;
  z-index: 3;
}

.role {
  font-size: calc(1px + 1.8vmin);
  margin: 0;
}

.side-text {
  z-index: 3;
  font-family: "NeueHaas";
  color: white;
  position: absolute;
  left: 25px;
  bottom: 150px;
  transform: rotate(90deg);
  transform-origin: left bottom;
  white-space: nowrap;

}

.side-text p {
  font-family: "NeueHaas";
  font-size: calc(1px + 1.6vmin);
  margin: 0;
}

/* Стили для модального окна */
/* Ключевые кадры для плавного появления и исчезновения */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(1.05);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(1.05);
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.05);
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.modal-overlay.visible {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.modal-overlay.hidden {
  opacity: 0;
  visibility: hidden;
  transform: scale(1.05);
}




.modal-content {
  font-family: "NeueHaas";
  color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.modal-content button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.undername {
  font-size: calc(1px + 2vmin);
  line-height: 0.1
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}