@font-face {
  font-family: 'Avenir Next Cyr Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next Cyr Regular'), url('./fonts/avenir next cyr/AvenirNextCyr-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir Next Cyr Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next Cyr Italic'), url('./fonts/avenir next cyr/AvenirNextCyr-Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir Next Cyr Thin';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next Cyr Thin'), url('./fonts/avenir next cyr/AvenirNextCyr-Thin.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir Next Cyr Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next Cyr Thin Italic'), url('./fonts/avenir next cyr/AvenirNextCyr-ThinItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir Next Cyr Light';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next Cyr Light'), url('./fonts/avenir next cyr/AvenirNextCyr-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir Next Cyr Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next Cyr Light Italic'), url('./fonts/avenir next cyr/AvenirNextCyr-LightItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir Next Cyr Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next Cyr Medium'), url('./fonts/avenir next cyr/AvenirNextCyr-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir Next Cyr Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next Cyr Medium Italic'), url('./fonts/avenir next cyr/AvenirNextCyr-MediumItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir Next Cyr Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next Cyr Bold'), url('./fonts/avenir next cyr/AvenirNextCyr-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir Next Cyr Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next Cyr Bold Italic'), url('./fonts/avenir next cyr/AvenirNextCyr-BoldItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir Next Cyr Heavy';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next Cyr Heavy'), url('./fonts/avenir next cyr/AvenirNextCyr-Heavy.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir Next Cyr Heavy Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next Cyr Heavy Italic'), url('./fonts/avenir next cyr/AvenirNextCyr-HeavyItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir Next Cyr Demi';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next Cyr Demi'), url('./fonts/avenir next cyr/AvenirNextCyr-Demi.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir Next Cyr Demi Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next Cyr Demi Italic'), url('./fonts/avenir next cyr/AvenirNextCyr-DemiItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir Next Cyr Ultra Light';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next Cyr Ultra Light'), url('./fonts/avenir next cyr/AvenirNextCyr-UltraLight.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir Next Cyr Ultra Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next Cyr Ultra Light Italic'), url('./fonts/avenir next cyr/AvenirNextCyr-UltraLightIt.otf') format('opentype');
}





/* Определение переменных для светлой темы */
:root {
  --background-color: black;
  --text-color: white;
  --link-color: #ffffff;
  --modal-overlay-bg: rgba(0, 0, 0, 0.7);
  --contact-color: white;
  --contact-underline-bg: white;
  --button-bg: #007bff;
  --button-color: white;
  --font-family: 'Avenir Next Cyr Regular';
}

/* Определение переменных для темной темы */
.dark-theme {
  --background-color: black;
  --text-color: white;
  --link-color: #ffffff;
  --modal-overlay-bg: rgba(0, 0, 0, 0.7);
  --contact-color: white;
  --contact-underline-bg: white;
  --button-bg: #007bff;
  --button-color: white;
}

/* Определение переменных для светлой темы */
.light-theme {
  --background-color: white;
  --text-color: #000000;
  --link-color: #000000;
  --modal-overlay-bg: rgba(255, 255, 255, 0.7);
  --contact-color: black;
  --contact-underline-bg: black;
  --button-bg: #007bff;
  --button-color: black;
}

/* Основные стили приложения */
.App {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 1s ease, color 1s ease;
  height: 100%;
  position: relative;
}


/* Стили для контейнера */
.container {
  cursor: n-resize;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: filter 0.3s ease;
  z-index: 3;
}

/* Стили для ссылок */
a {
  color: var(--link-color);
  text-decoration: none;
}

/* Стили для кнопки контактов */
.theme-button-light {
  background-color: #ffffff;
  /* Белый цвет */
  border: 1px solid var(--text-color);
  /* Черный бордер */
  box-sizing: border-box;
}


.theme-button-dark {
  background-color: #000000;
  /* Черный цвет */
  border: 1px solid var(--text-color);
  /* Белый бордер */

  box-sizing: border-box;
}

.theme-button {
  width: 7px;
  height: 7px;
  display: inline-block;
  cursor: pointer;
  margin: 0 10px;
}

.theme-button-container {
  z-index: 4;
  position: fixed;
  top: 27px;
  right: 23px;
}

.theme-button:hover {
  opacity: 0.8;
}

/* Стили для контента */
.content {

  z-index: 2;
  letter-spacing: 0.3vmin;
  font-family: var(--font-family);
  color: var(--text-color);
  text-align: center;
  position: sticky;
  transition: color 1s ease, color 1s ease;
}

/* Стили для имени */
.name {
  font-size: calc(10px + 2vmin);
  margin: 10px;
  transform: scale(1, 0.85);
  font-family: 'Avenir Next Cyr Bold';
}

/* Стили для контакта */
.contact {
  letter-spacing: 2px;
  cursor: pointer;
  font-family: var(--font-family);
  color: var(--contact-color);
  font-size: calc(1px + 1.2vmin);
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 4;
  padding-bottom: 1px;
  display: inline-block;
  transform: scale(1, 0.9);
  transition: color 1s ease, color 1s ease;
}

.contact::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--contact-underline-bg);
  transition: width 0.6s ease;
}

.contact:hover::after {
  width: 100%;
}

/* Стили для роли */
.role {
  font-size: calc(1px + 1vmin);
  margin: 0;
}

/* Стили для бокового текста */
.side-text {
  z-index: 3;
  font-family: var(--font-family);
  color: var(--text-color);
  position: fixed;
  left: 30px;
  bottom: 90px;
  transform: rotate(90deg)scale(1, 0.85);
  transform-origin: left bottom;
  white-space: nowrap;
  transition: color 1s ease, color 1s ease;
}

.side-text p {
  letter-spacing: 2px;
  font-family: var(--font-family);
  font-size: calc(1px + 1.3vmin);
  margin: 0;
}

/* Стили для модального окна */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-overlay-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  z-index: 4;
  opacity: 0;
  visibility: hidden;
  transform: scale(1);
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.modal-overlay.visible {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.modal-overlay.hidden {
  opacity: 0;
  visibility: hidden;
  transform: scale(1.05);
}

.modal-content {
  text-transform: uppercase;
  font-family: var(--font-family);
  letter-spacing: 3px;
  color: var(--text-color);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  line-height: 22px;
  font-size: calc(2px + 1.2vmin);
  transform: scale(1, 0.9);
}

.custom-link {
  display: inline;
  /* ensure inline display for paragraph text */
}

.custom-link a {
  position: relative;
  color: inherit;
  /* сохранить цвет текста */
  text-decoration: none;
  /* убрать стандартное подчеркивание */
  display: inline-block;
  vertical-align: baseline;
  /* align with text baseline */
}

.custom-link a:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  transform: scaleX(0);
  /* initially hidden */
  transform-origin: left;
  /* animation starts from the left */
  transition: transform 0.5s;
  /* animate transform */
}

.custom-link a:hover:before {
  transform: scaleX(1);
  /* reveal the underline */
}

.modal-content button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background-color: var(--button-bg);
  color: var(--button-color);
  border-radius: 5px;
  cursor: pointer;
}

.undername {
  font-size: calc(1px + 2vmin);
  line-height: 0.1;
}



@keyframes fadeInOutUp {
  0% {
    opacity: 0;
    transform: translateY(0);
  }



  50% {
    opacity: 1;

  }


  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes slideOutUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.scroll-btn {
  letter-spacing: 2px;
  font-family: var(--font-family);
  font-size: 12px;
  position: absolute;
  bottom: 25px;
  color: var(--text-color);
  opacity: 0;
  animation: fadeInOutUp 1.2s ease-in-out infinite;
  transform: scale(1, 0.85);
  display: none;
}

.scroll-btn.show {
  display: block;
  /* Добавьте другие стили для кнопки */
}

.scroll-btn.visible {
  animation: slideInUp 0.5s forwards;
}

.scroll-btn.hidden {
  animation: slideOutUp 0.5s forwards;
}


.video-page-container {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  letter-spacing: 2px;
  font-family: var(--font-family);
  color: var(--text-color);
  transition: color 1s ease, color 1s ease;
  font-size: calc(1px + 1.2vmin);
  line-height: 25px;
  padding-top: 10px;
  text-transform: uppercase;
  width: 100%;

  z-index: 2;
}

.contact-name {
  font-size: calc(3px + 1.2vmin);
  font-family: 'Avenir Next Cyr Bold';
}

.contact-margin {
  margin-top: 20px;
}

.video-section {
  margin-left: 15%;
  margin-top: 25px;
}

.video-type-title {
  margin-top: 15px;
  transform: scale(1, 0.9);
}

.custom-text-link {
  display: inline;
  /* Устанавливает ширину по длине текста */
  white-space: nowrap;
  /* Отключает перенос текста */
}

.video-link-container {
  display: block;
}

.video-link {
  display: inline-block;
  white-space: nowrap;
  transform: scale(1, 0.9);
  cursor: pointer;
  z-index: 1000;

}

.video-link:hover {
  text-decoration: underline;
}

.video-link:last-child {
  margin-right: 0;
  /* Убирает отступ справа у последнего элемента */
}

.background-video {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 1;
  pointer-events: none;
}

.background-video::-webkit-media-controls {
  display: none !important;
}

.background-video::-webkit-media-controls-enclosure {
  display: none !important;
}

.background-video::-webkit-media-controls-play-button {
  display: none !important;
}

.background-video::-webkit-media-controls-volume-slider {
  display: none !important;
}

.background-video::-webkit-media-controls-mute-button {
  display: none !important;
}

.background-video::-webkit-media-controls-fullscreen-button {
  display: none !important;
}


.video-section {
  position: relative;
  z-index: 1;
  opacity: 0;
  transition: opacity 1.5s ease;
}

.video-section.visible {
  opacity: 1;
}

@keyframes floatUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes floatDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated-text span {
  display: inline-block;
  opacity: 0;
  animation: 0.5s ease forwards;
}

.animated-text span.up {
  animation-name: floatUp;
}

.animated-text span.down {
  animation-name: floatDown;
}

.contact,
.side-text {
  opacity: 0;
  filter: blur(10px);
  /* Adjust the blur amount as needed */
  transition: opacity 1s ease, filter 1s ease;
}

.contact.visible,
.side-text.visible {
  opacity: 1;
  filter: blur(0);
  /* Remove the blur effect when visible */
}